.box {
    background-color: rgba(2, 9, 37, 0.911);
    padding: 50px 100px 70px 100px;
    margin-top: 50px;
    border-radius: 10px;
    color: #fff;
}

body {
    background-image: url(https://images6.alphacoders.com/417/417448.jpg);
    background-size: cover;
}

.head {
    background-color: rgb(3, 76, 121);
    font-size: 44px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
}




.boxbutton {
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

button {
    height: 60px;
    width: 200px;
    background-color: rgb(2, 58, 131);
    border: none;
    font-size: x-large;
    font-family: fantasy;
    color: #fff;
    border: none;
    border-radius: 5px;

}

.name {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 5px;
}

.mail {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 5px;
}